@model IEnumerable<BugTrackerPro.Models.Ticket>

@{
    ViewData["Title"] = "My Tickets";
}


<div class="col-md-12 col">
    <div class="mt-5">
        <div class="dashboard-card m-1 p-2">
            <div class="header d-flex my-3 align-middle justify-content-between">
                <h1>My Tickets</h1><span class="align-middle"><a class="align-middle" asp-action="Create">Create New</a></span>
            </div>
            <div class="body">
                <div class="table-responsive" style="overflow-y:auto;height:600px;">
                    <table class="table table-info table-striped text-center">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Created)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Updated)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Archived)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Project)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketPriority)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketStatus)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OwnerUser)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DeveloperUser)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Updated)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Archived)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Project!.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketType!.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketPriority!.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketStatus!.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OwnerUser!.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeveloperUser!.FullName)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fs-5 bi-pencil"></i></a> |
                                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fs-5 bi-justify"></i></a> |
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>