@model IEnumerable<BugTrackerPro.Models.Notification>

@{
    ViewData["Title"] = "Notifications";
}



<div class="col-md-12 col">
    <div class="mt-5">
        <div class="dashboard-card m-1 p-2">
            <div class="header d-flex my-3 align-middle justify-content-between">
                <h1>Notifications</h1><span class="align-middle"><a class="align-middle" asp-action="Create">Create New</a></span>
            </div>
            <div class="body">
                <div class="table-responsive" style="overflow-y:auto;height:600px;">
                    <table class="table table-secondary table-striped text-center">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Message)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Created)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Viewed)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Ticket)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Recipient)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sender)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Message)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Viewed)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ticket.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Recipient.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sender.Id)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>

</div>