@model IEnumerable<BugTrackerPro.Models.Project>
@using BugTrackerPro.Models.Enums
@using Microsoft.AspNetCore.Identity
@using BugTrackerPro.Services.Interfaces

@inject UserManager<BTProUser> UserManager
@inject IBTProProjectService ProjectService

@{
    ViewData["Title"] = "All Projects";
    BTProUser btpUser = await UserManager.GetUserAsync(User);
}






<div class="col-md-12 col">
    <div class="mt-5">
        <div class="dashboard-card m-1 p-2">
            <div class="header d-flex my-3 align-middle justify-content-between">
                <h1>All Projects</h1><span class="align-middle">
                    @if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
                    {

                        <a class="align-middle" asp-action="Create">Create New</a>

                    }
                </span>
            </div>
            <div class="body">
                <div class="table-responsive" style="overflow-y:auto;height:600px;">
                    <table class="table table-striped table-primary text-center">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StartDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EndDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ImageFileName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ImageFileData)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Archived)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Company)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProjectPriority)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ImageFileName)
                                    </td>
                                    <td>
                                        @if (item.ImageFileData != null)
                                        {
                                            <img id="imageFileData" class="img-fluid img-thumbnail" style="width:60px;height:60px;" scr="data:image/*;base64@(Convert.ToBase64String(item.ImageFileData))" />
                                        }
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Archived)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Company!.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProjectPriority!.Id)
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fs-5 bi-justify"></i></a>

                                        @{
                                            bool isProjectPM = (await ProjectService.GetProjectManagerAsync(item.Id))?.Id == btpUser.Id;
                                        }

                                        @if (User.IsInRole(nameof(Roles.Admin)) || isProjectPM)
                                        {

                                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fs-5 bi-pencil"></i></a>

                                            @if (item.Archived)
                                            {
                                                <a asp-action="Restore" asp-route-id="@item.Id"><i class="bi bi-life-preserver"></i></a>
                                            }
                                            else
                                            {
                                                <a asp-action="Archive" asp-route-id="@item.Id"><i class="fs-5 bi-archive"></i></a>
                                            }
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>

            </div>
        </div>

    </div>
</div>